<h1>mysql 관련 모듈 임포트하기</h1>

In [1]:
import pymysql

# MySQL Connection 연결

In [3]:
conn = pymysql.connect(host='',
                       user='', password='',
                       db='kookmin_univ', charset='utf8')

# Connection 으로부터 Cursor 생성

In [4]:
curs = conn.cursor()

# SQL문 실행

In [7]:
sql = "insert into users (first_name, last_name) values('keeyong', 'han')";
curs.execute(sql)

1

In [14]:
sql = "select * from users"
curs.execute(sql)

1

In [10]:
sql = "select * from users where last_name = 'han'"
curs.execute(sql)

1

# 데이터 가져오기

In [15]:
rows = curs.fetchall()
print(rows)

((1, 'keeyong', 'han', datetime.datetime(2017, 8, 8, 6, 19, 51)),)

# Connection 닫기

In [ ]:
conn.close()